.success-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 15px;
    display: inline-block;
    max-width: 90%;
    text-align: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-size: 1em;
  }
  

  /*PARA LOS MDIFERENTES MENSAJES*/
  .success-create {
    background-color: #28a745; /* Verde */
  }
  
  .success-update {
    background-color: #007bff; /* Azul */
  }
  
  .success-delete {
    background-color: #dc3545; /* Rojo */
  }
  
 
  .search-input {
    position: fixed;
    top: 8rem;
    left: 1.2rem;
    height: 30px;
    background-color: #f8f9fa;
    padding: 0.5em 1em;
    border: 1px solid #ced4da;
    border-radius: 8px;
    font-size: 1em;
    color: #495057;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
  }


  
  .clients-container {
    max-height: 75%;
    position: fixed;
    top: 8rem;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
    color: #495057;
    padding-left: 10px;
    margin-top: 4rem;
    overflow-y: auto;
  }
  
  .client-card {
    height: 150px;
    border: 1px solid #e9ecef;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    background-color: #ffffff;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .client-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .client-card h3 {
    font-size: 1em;
    margin: 0 0 0.5rem 0;
    color: #343a40;
  }
  
  .client-card p {
    margin: 0.5rem 0;
    font-size: 0.9em;
    color: #6c757d;
  }
  
  .client-actions {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
  }
  
  .client-actions button {
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-size: 0.9em;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s, transform 0.3s;
  }
  
  .client-actions button:hover {
    transform: scale(1.05);
  }
  
  .add-client-btn {
    margin-bottom: 1rem;
    border: none;
    border-radius: 8px;
    padding: 0.6em 1.2em;
    background-color: #28a745; /* Verde */
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .add-client-btn:hover {
    background-color: #218838; /* Verde oscuro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  button.editar {
    background: #007bff; 
    color: white;
  }
  
  button.editar:hover {
    background: #0056b3; 
  }
  
  button.borrar {
    background: #dc3545; 
    color: white;
  }
  
  button.borrar:hover {
    background: #c82333; 
  }
  

  /* Ajustes para pantallas pequeñas */
@media (max-width: 600px) {
  .clients-container {
    width: 85%;
    max-width: none; 
  }
  .search-input {   
    width: none; 
    width: 290px;     
  }
}

@media (min-width: 600px) {
  .search-input {    
    width: 700px;     
  }
}
